body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header {
  padding: 10px 14px;
  display:flex;
  justify-content: space-between;
  background: lightcoral;
  color: white;
}
.d-flex{
  display:flex;
}
.justify-between{
  justify-content: space-between;
}
.align-center{
  align-items: center;
}

.mx-10{
  margin: 0 10px;
}
